<div class="row">
  <div class="col-md-4">
    <div id="banner">
      <h1>What's the change, dude?</h1>
    </div>
  </div>
  <div class="col-md-8">
    <div class="padded">

    </div>
  </div>
  <div class="col-md-8">
    <div class="bg-white">
      <div class="card text-center">
        <%= form_for(@cocktail, html: { multipart: true }) do |f| %>

        <h1>Change the name</h1>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <h1>Change the picture</h1>
        <div class="form-group">
          <%= f.file_field :picture %>
        </div>
          <%= f.submit 'Add It', :class => 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>




