<div class="row">
  <div class="col-md-4">
    <div id="banner">
      <h1>In Da Cocktails</h1>
      <%= link_to "add a cocktail", new_cocktail_path, class: 'btn btn-warning' %>
    </div>
  </div>
  <div class="col-md-8">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-6">
        <div class="text-center">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="img-box">
              <%= image_tag cocktail.picture.url(:medium) %>
              <h2 class="over-pic">
                <%= cocktail.name %>
              </h2>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      $('.img-box img').each(function(i) {
        var height = $(this).height();
        var width = $(this).width();
        if(height > width) {
          $(this).addClass('total-width');
          $(this).css('margin-top', -((height / width * 380 - 380) / 2) );
        } else {
          $(this).addClass('total-height');
          <!-- $(this).css('margin-left', -((width / height * 380 - 380) / 2) ); -->
        }
      })
    })
  <% end %>
<% end %>
