<div class="row">
  <div class="col-md-4">
    <div id="banner">
      <h1>In Da Cocktails</h1>
      <%= link_to "add a cocktail", new_cocktail_path, class: 'btn btn-warning' %>
    </div>
  </div>
  <% @cocktails.each do |cocktail| %>
  <div class="col-md-4">
    <div class="card text-center">
      <ul class="list-unstyled list-inline">
        <li>
          <h2>
            <%= cocktail.name %>
          </h2>
          <p>
            <%= link_to "view details", cocktail_path(cocktail), class: "btn btn-warning" %>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
  </div>

</div>


<div class="row">

</div>
