.card {
  margin: 10px;
  padding: 10px;
}

#banner {
  background: image-url('cocktail.jpg');
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  top: 0;
  color: white;
  background-size: cover;
  height: 760px;
  width: 30%;
  padding-left: 3%;
  margin-top: -22.5px;
  h1 {
    padding-top: 250px;
    font-size: 70px;
  }
  p {
    font-size: 25px;
    font-weight: 100;
    padding-left: 10%;
  }
}

// .padded {
//   height: 150px;
// }

.over-pic {
  color: white;
  margin-top: -200px;
  // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.img-box {
  width: 380px;
  height: 380px;
  overflow: hidden;
}

.total-width {
  width: 100%;
}

.total-height {
  height: 100%;
}